#ignore these
*

#include these
!.gitignore
!Makefile
!*/
!/src
!/src/*.c
!/include
!/include/*.h
!/doc
!/doc/*
!/lib
!/lib/Makefile
!/lib/include
!/lib/include/*.h
!/lib/src
!/lib/src/*.c
!/trash
!/trash/*
!/test
!/test/*
!checker_linux
!checker_Mac
